@import '../variables.scss';

.home{
    justify-self: center;
    align-self: center;
}

.not-login{
    width: 40%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    border-radius: 10px;
    background-color: $light-black;
    padding: 1em;

    button{
        width: 30%;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: 3em;
    }

    .logo{
        width: 30%;
        justify-self: start;
    }

    .info-section{
        justify-self: center;
        align-self: center;
    }
    

}

.logged-in{
    width: 65%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    border-radius: 10px;
    background-color: $light-black;
    max-width: 40em;
    max-height: 40em;

    overflow-y: scroll;
    padding-bottom: 1em;
    padding-top: 1em;
    


    .user-info{
        width: 80%;
        
        display: flex;
        flex-direction: column;
        align-items: center;            
        .username{
            color: white;
            font-size: 2vw;
            font-size: min(20px);
            text-align: center;

            
        }
    
        .profile-picture{
            width: 50%;
            border-radius: 2000px;
        }
    }
        


    .top{
        display: flex;
        align-items: flex-start;
        width: 95%;
        gap: 10px;


        .top-songs{
            width: 50%;
            
            align-self: start;
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1em;

            margin-top: 2em;
            margin-bottom: 2em;
            margin-left: 1em;

    
    
            
            .title{
                color: white;
                margin-bottom: 0.5em;
            }
            .song-container{
                display: flex;
                color: white;
                gap: 0.5em;

                padding-top: 0.1em;
                padding-bottom: 0.1em;
                padding-left: 0.1em;

                height: 3.4em;
                .song-title{
                    font-size: 1em;
                    margin: 0px;
                    align-self: center;
                }
                .artist-list{
                    font-size: 0.7em;
                    margin: 0px;
                    align-self: center;
                    justify-self: end;
                    width: auto;
                    text-align: end;
                    margin-left: auto;
                }

                .album-cover{
                    width: 50px;
                    border-radius: 3px;
                }
                
                border-style: solid;
                border-right: 0px;
                border-width: 0.1em;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }


        .top-artists{
            width: 50%;
            display: flex;
            margin-top: 2em;
            margin-bottom: 2em;
            margin-right: 1em;

            flex-direction: column;
            
            align-items: flex-end;
            .title{
                color: white;
                margin-bottom: 1.2em;
            }

            .artists{
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;
                .artist-container{
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.5em;
                    height: 3.4em;

                    border-style: solid;
                    border-left: 0px;
                    border-width: 0.1em;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    padding-top: 0.1em;
                    padding-bottom: 0.1em;
                    padding-right: 0.1em;

                    color: white;
                    text-align: right;

                    .name{
                        color: white;
                        margin: 0px;
                        align-self: center;
                        font-size: 1.3em;
                    }

                    .image{
                        width: 50px;
                        height: 50px;
                        border-radius: 3px;
                    }
                }
                
            }
        }
        
    }
        
    .time-btns{
        margin-top: 3em;
        display: flex;
        width: 100%;

        justify-content: center;

        .c-btn{
            border-radius: 0px;
            background-color: $green;

        }

        .btn-left{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .btn-right{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .btn-unchecked{
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: $green;
        }
    }

    .bar-horizontal{
        margin-top: 2em;
        margin-bottom: 2em;
        height: 0.1em;
        width: 80%;
        background-color: $green;
    }

    .bar-vertical{
        background-color: $green;
        margin-top: 12%;
        height: 80%;
        align-self: center;
        width: 0.08em;
    }


}

@media (max-width: 700px){
        .not-login{
            width: 100%;
        }

        .logged-in{
            width: 100%;
        }

        .top{
            flex-direction: column;
            align-items: center !important;
            align-content: center !important;

            .top-songs{
                width: 500px !important;
                margin-left: 0px !important;
                margin-left: 0px !important;

                .title{
                    text-align: left;
                    margin-left: 1em;
                }

                .song-container{
                    width: 85vw;
                    justify-self: center;
                    margin: 0px;
                    border-left: 0px !important;
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;
                }
                
            }

            .top-artists{
                flex-direction: column;
                align-items: center !important;
                align-content: center !important;
                width: 100% !important;
                margin-top: 2% !important;
                margin-right: 0px !important;

                .title{
                    text-align: right !important;
                    align-self: flex-end;
                    margin-right: 3em;
                }

                .name{
                    text-align: left;
                    margin-left: 0.1em;
                }

                .artist-container{
                    width: 85vw;
                    justify-self: center;
                    margin: 0px;
                    border-right: 0px !important;
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                }
                    
                }
        }

        .bar-vertical{
            width: 90% !important;
            height: 0.1em !important;
            margin-top: 2% !important;
            align-self: flex-start !important;
        }
}
